body{
    color: #333;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1 em;
    text-align: left;
    border: 1px solid #DDD;

}
#container h1{
    font-size: 20px;
}
#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera lagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}